html,
body {
  height: 100%;
}

body {
  font-family: "Cormorant Upright", serif;
  font-weight: lighter;
  position: relative;
}

p {
  margin: 0%;
}

ul {
  list-style: none;
  padding: 0px;
}

.top,
.about_section,
.review_section {
  height: 100%;
}

.centralize {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax {
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

/* top page */
.flowers {
  position: fixed;
  width: 37%;
  height: 50%;
  z-index: 50;
}

.left_top {
  top: 0;
  left: 0;
}

.left_bottom {
  bottom: 0%;
  left: 0;
}

.right_top {
  top: 0;
  right: 0;
}

.right_bottom {
  bottom: 0%;
  right: 0;
}

.images,
.img {
  width: 100%;
  height: 100%;
}

.top {
  color: white;
  background-color: #f07818;
  position: relative;
}

.top_p {
  margin: 0%;
}

.top_h1 {
  font-size: 4.5em;
  margin: 0%;
}

/* about page */
.about_section {
  display: flex;
}

.about_left,
.about_right {
  width: 50%;
  position: relative;
}

.about_left {
  background-color: rgb(157, 207, 191);
}

.about_h1 {
  font-size: 2.2em;
  color: #042608;
}

.about_ul {
  color: #faedd9;
}

.about_us_li {
  letter-spacing: 13px;
  transform: rotate(-90deg);
  transform-origin: top left;
  position: absolute;
  bottom: 10%;
}

.about_us_p {
  margin-left: 10%;
}

.about_right {
  position: relative;
  background-color: #fcebb6;
}

.about_images {
  display: flex;
}

.about_img {
  width: 100%;
}

/* menu page */
#menu_section_back_pic,
.review_section_back_pic {
  height: 450px;
  background-size: 100%;
}
#menu_section_back_pic {
  background-image: url("../img/menu_backg.jpg");
}
.menu_section {
  height: 1400px;
  background-color: #f0a830;
}

.position_relative {
  height: 100%;
  position: relative;
}

.menu_list_bar {
  z-index: 60;
  margin-left: -10%;
  width: 100%;
  padding-left: 5%;
  position: sticky;
  top: 0;
  background-color: #faedd9;
}

.menu_list_ul {
  margin: 0;
  display: flex;
  padding: 1.5% 0;
  font-size: 1.3em;
}

.menu_list_li {
  margin-right: 3%;
}

.menu_indent,
.review_indent {
  z-index: 5;
  position: absolute;
  left: 7%;
}

.pic {
  position: absolute;
}

.menu_pic1 {
  left: 26%;
  top: -171px;
  width: 450px;
  height: 300px;
  z-index: 2;
  box-shadow: -15px 15px #2a5c0b;
}

.menu_pic2 {
  width: 750px;
  right: 0;
  height: 550px;
  top: -350px;
  box-shadow: -15px 15px #808f12;
}

.menu_section_title {
  font-size: 7em;
  color: #faedd9;
  margin: 0%;
  margin-bottom: 0.7em;
  margin-top: 0.5em;
  letter-spacing: 0.2em;
}

.menu_section_p {
  width: 40%;
}

.listbar_and_menu {
  position: relative;
  margin-top: 2em;
  color: #395442;
}

.menu {
  display: flex;
  margin-top: 3em;
  color: #395442;
}

.menu1,
.menu2 {
  width: 50%;
}

.menu1 {
  margin-right: 16%;
}

.each_genre {
  margin-bottom: 3em;
}

.menu_genre {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

.menu_name + .menu_name {
  margin-top: 5%;
}
/* review page */
.review_section_back_pic {
  background-image: url("../img/review_backg.jpg");
}
.review_section {
  background-color: #fcebb6;
}

.review_section_h1 {
  margin: 0%;
}

.review_pic1,
.review_pic2 {
  position: absolute;
}
.review_pic1 {
  left: 26%;
  top: -171px;
  width: 450px;
  height: 300px;
  z-index: 2;
  box-shadow: -15px 15px #78c0a8;
}

.review_pic2 {
  width: 750px;
  right: 0;
  height: 550px;
  top: -350px;
  box-shadow: -15px 15px #f07818;
}

.review_section_title {
  font-size: 7em;
  color: #5e412f;
  margin: 0%;
  margin-bottom: 0.7em;
  margin-top: 0.5em;
  letter-spacing: 0.2em;
}

.review_section_p {
  width: 40%;
  margin-bottom: 3%;
}

.go_to_fb {
  width: 15%;
  height: 48px;
  border-radius: 0;
  color: #2a5c0b;
  border: 5px solid #2a5c0b;
  padding: 5px;
}

.go_to_fb:hover {
  background-color: #2a5c0b;
  color: #fcebb6;
  border: 5px solid #2a5c0b;
}

/* contact page */
.contact_section,
.contact_container,
.open_time {
  display: flex;
}
.contact_section {
  background-color: #5e412f;
  height: 90%;
}

.contact_left,
.contact_right {
  position: relative;
}

.contact_left {
  width: 50%;
}

.contact_right {
  width: 40%;
}

.contact_h3 {
  margin-top: 0px;
  font-size: 4em;
}

.contact_p,
.contact_h3 {
  color: #faedd9;
}

.contact_container {
  color: #fcebb6;
}

li.contact_list + .contact_list {
  margin-top: 10%;
}

.contact_ul {
  margin: 0;
}

.contact_container_left {
  margin-right: 10%;
}

.contact_container_right {
  width: 100%;
}

.days {
  margin-right: 12%;
}

.map {
  box-shadow: -15px 15px #f0a830;
}
